<h2>Author</h2>
Aayush Rana

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized

<strong>Objectives:</strong>
  <ul>
    <li>List popular languages for Data Science.</li>
    <li>List some of the common used libraries for Data Science</li>
    <li>Tabulate some tools for Data Science</li>
    <li>Tabulate some tools for Data Science</li>
    <ol>
        <li>Evaluate (3*4)+5</li>
        <li>Evaluate No of hours in 200 minutes</li>
    </ol>
  </ul>

<p>Some of the popular languages that Data Scientists use are:</p>
  <ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
  </ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
  <ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>SciPy</li>
  </ol>

<table>
    <tr>
      <th>Data Science Tools</th>
    </tr>
    <tr>
      <td>Jupyter Notebooks</td>
    </tr>
    <tr>
      <td>RStudio</td>
    </tr>
    <tr>
      <td>VS Code</td>
    </tr>
  </table>

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335